black==23.9.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
dateparser==1.1.8
greenlet==2.0.2
idna==3.4
MLB-StatsAPI==1.6.2
mypy-extensions==1.0.0
numpy==1.25.2
packaging==23.1
pandas==2.1.0
pathspec==0.11.2
platformdirs==3.10.0
pyodbc==4.0.39
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2023.8.8
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.20
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4
